for news in newsItem
    if news.img
        .columns.small-12(class="medium-"+news.medium +" large-"+news.large)
            .news_block
                a(href="#", title="title").news_img
                    span(style="background-image: url("+ news.img +")")
                .news_information
                    .date= news.date
                    a.title.title_size-small.color-dark.weight-bold(href="#")= news.title
                    .text.text-small
                        p= news.text
                    a.link_more(href="#") read more
                        i.i-ios_arrow-right
    else 
        .columns.small-12(class="medium-"+news.medium +" large-"+news.large)
            .news_block
                .date= news.date
                a.title.title_size-small.color-dark.weight-bold(href="#")= news.title
                .text.text-small
                    p= news.text
                a.link_more(href="#") read more
                    i.i-ios_arrow-right